
body{
    font-family: 'DM Sans', sans-serif;
}

@import "./abstract/colores";
@import "./abstract/variables";
@import "./abstract/maps";
@import "./abstract/mixin";
@import "./components/header";
@import "./components/main";
@import "./components/testimonios";
@import "./components/cursos";
@import "./components/iniciarsesion";
@import "./components/registrarse";
@import "./components/nosotros";
@import "./components/bootcamps";
@import "./components/footer";


span{
    font-size: .8rem;
    color: #6a6f73;
}

p{
    font-size: .9rem;
}

.card-cat{
    background-color: $color-card;
}






@import "./abstract/extend";