i{
    font-size: $tamanio-ideal;
}

.icon{
    @extend %icon;
    &:hover{
        color: $blanco;
    }
}


.redesSociales{
    background-color: $color-redessociales;
    padding: $tamanio-ideal;
}

.iconos{
    background-color: $color-redessociales;
}