
nav{
    background-color: $color-nav;
    font-weight: $negrita;
    .navbar-brand{
        img{
            height: $tamanio-img-header;
            width: $auto;
            object-fit: $object-fit;
        }
    }
    .header-link{
        color: $negro !important;
        &:hover{
            color: $blanco !important;
        }
    }   
}


