$negro: black;
$blanco: white;
$verde: green;
$fondo-mobile: #171739;
$celeste: lightsteelblue;
$naranja: orange;
$morado: darkorchid;
$oro: gold;
$transparente: transparent;
$botones-header: #D2419E;
$color-card: #d4afeb;
$color-testimonios: #f8f9fa;
$color-redessociales: #212529;